<% content_for :head do %>
	<title>Maelström</title>
	<meta name="description" content="Maelström je plaformou pro lidi věnující se netradičním a okrajovým zájmům. Do naší činnosti spadají programy na conech, Conventicon a více.">
<% end %>

<%= partial 'header' %>

<div id="content">
	<p class="major">
		Klub Maelström se zabývá okrajovými žánry kultury,<wbr>
		hrami i&nbsp;každodenním světem.
	</p>

	<p class="minor">
		Přednášíme <%= link_to 'na&nbsp;Festivalu fantazie', 'http://ff.mmcon.cz/' %>,
		<%= link_to 'Pragoffestu', '/pgf/' %> a jiných akcích.
		Spolupořádali jsme&nbsp;<%= link_to 'Conventicon', 'http://conventicon.cz/' %>.
	</p>

	<section id="newsletter">
		<h1>Newsletter</h1>
		<p class="minor">
    		Zajímají vás naše akce? Chcete se zapojit?<br>
    		Odebírejte náš nepravidelný&nbsp;newsletter.
		</p>
		<p>
		  <%= link_to 'Archiv newsletteru', 'newsletter/archive.html' %>
	  </p>
		<%= partial 'newsletter' %>
	</section>

	<section id="contact">
		<h1>Kontakt</h1>
		<p class="minor">
			Najdete nás
			<a href="http://www.facebook.com/MaelCZ">na&nbsp;Facebooku</a>
			a
			<a href="https://plus.google.com/104105443178434740181" rel="publisher">na&nbsp;Google+</a>
			nebo nám můžete napsat na&nbsp;<a href="mailto:mm@mael.cz">mm@mael.cz</a>.
		</p>
	</section>

</div>
