<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="cs">
    <link rel="shortcut icon" type="image/x-icon" href="http://mael.cz/favicon.ico">

    <meta property="og:image" content="http://mael.cz/thumb.jpg">

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin,latin-ext" %>
    <%= stylesheet_link_tag "site.css" %>
    <%= yield_content :head %>
    <%= partial 'head' %>
  </head>

  <body class="<%= page_classes %>">
    <article id="main">
      <%= yield %>
    </article>
  </body>
</html>
